
.paginate {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
  list-style: none;
  &Item {
    padding: 12px 16px;
    line-height: 0.5;
    font-weight: bold;
    cursor: pointer;
    &Active {
      background: #f1f1f1;
      border-radius: 4px;
    }
    &Disabled {
      opacity: 0.4;
    }
    &Prev,
    &Next {
      padding: 12px 16px;
      line-height: 0.5;
      font-weight: bold;
      border: 1px solid #f1f1f1;
    }
  }
}
